.brand-section {
    padding: 80px 0;
}

.brand-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    border: 1px solid #e5e5e5;
    border-radius: 8px;
    overflow: hidden;
}

.brand-item {
    height: 120px;
    border-right: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
}

.brand-item:nth-child(6n) {
    border-right: none;
}

.brand-item img {
    max-width: 120px;
    max-height: 120px;
    object-fit: contain;
}

.brand-item.extra {
    display: none;
}

/* Responsive */
@media (max-width: 992px) {
    .brand-grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .brand-item:nth-child(3n) {
        border-right: none;
    }
}

@media (max-width: 576px) {
    .brand-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

.image-box .image {
    width: 391px;
    height: 260px;
    overflow: hidden;
}

.image-box .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* keeps aspect ratio */
    display: block;
}

.newsletter-block .inner-box .subscribe-form .title {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 28px;
}

.newsletter-section {
    padding: 50px 0 40px;
}

.testimonial-section-two {
    position: relative;
    padding: 50px 0 40px;
}

.team-section {
    position: relative;
    padding: 50px 0 40px;
    overflow: hidden;
}

.project-section {
    position: relative;
    padding: 50px 0 40px;
    background-color: rgb(244, 244, 244);
}