.brand-section {
    padding: 80px 0;
}

.brand-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    border: 1px solid #e5e5e5;
    border-radius: 8px;
    overflow: hidden;
}

.brand-item {
    height: 120px;
    border-right: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
}

.brand-item:nth-child(6n) {
    border-right: none;
}

.brand-item img {
    max-width: 120px;
    max-height: 120px;
    object-fit: contain;
}

.brand-item.extra {
    display: none;
}

/* Responsive */
@media (max-width: 992px) {
    .brand-grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .brand-item:nth-child(3n) {
        border-right: none;
    }
}

@media (max-width: 576px) {
    .brand-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* .image-box .image {
    width: 391px;
    height: 260px;
    overflow: hidden;
}

.image-box .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
} */

.newsletter-block .inner-box .subscribe-form .title {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 28px;
}

.newsletter-section {
    padding: 50px 0 40px;
}

.testimonial-section-two {
    position: relative;
    padding: 50px 0 40px;
}

.team-section {
    position: relative;
    padding: 50px 0 40px;
    overflow: hidden;
}

.project-section {
    position: relative;
    padding: 50px 0 40px;
    background-color: rgb(244, 244, 244);
}

.banner-section-one .content-box {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    padding: 210px 0 60px;
    z-index: 2;
}

.work-section {
    position: relative;
    padding: 50px 0 90px;
}

.machine-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 25px;
    align-items: stretch;
}

.machine-item a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 25px 15px;
    background: #fff;
    border-radius: 12px;
    text-decoration: none;
    transition: all 0.3s ease;
    box-shadow: 0 5px 18px rgba(0, 0, 0, 0.06);
    height: 100%;
    min-height: 190px;
}

.machine-item a:hover {
    transform: translateY(-6px);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.12);
}

.machine-item img {
    width: 90px;
    height: 90px;
    object-fit: contain;
    margin-bottom: 12px;
}

.machine-item span {
    font-weight: 600;
    color: #111;
    font-size: 15px;
    text-align: center;
}

.hidden {
    display: none;
}

@media (max-width: 991px) {
    .machine-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 575px) {
    .machine-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

.sticky-header .logo img {
    max-height: 100px;
}

.mobile-menu .nav-logo img {
    max-height: 80px;
}

.call-to-action .title-box .logo-box {
    margin-bottom: 0px;
}


.call-float {
    position: fixed;
    left: 20px;
    bottom: 20px;
    background: #ffad2b;
    color: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    font-size: 26px;
    line-height: 60px;
    z-index: 999;
    box-shadow: 0 0 0 rgba(248, 232, 3, 0.5);
    animation: pulse 1.8s infinite;
    transition: transform 0.3s ease;
}

.call-float:hover {
    transform: scale(1.1);
    color: #fff;
}

/* Pulse Animation */
@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(245, 221, 10, 0.7);
    }

    70% {
        box-shadow: 0 0 0 20px rgba(40, 167, 69, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(40, 167, 69, 0);
    }
}